---
# Tasks für RPM Installation auf Oracle Linux

- name: Sicherstellen, dass das Download-Verzeichnis existiert
  ansible.builtin.file:
    path: "{{ rpm_download_dir }}"
    state: directory
    owner: "{{ rpm_owner }}"
    group: "{{ rpm_group }}"
    mode: '0755'
  become: yes

- name: RPM-Datei von GitHub herunterladen
  ansible.builtin.get_url:
    url: "https://{{ github_user }}:{{ github_token }}@raw.githubusercontent.com/{{ github_repo }}/{{ github_branch | default('main') }}/{{ github_rpm_path }}"
    dest: "{{ rpm_download_dir }}/{{ rpm_filename }}"
    mode: '0644'
    force: yes
    headers:
      Accept: application/octet-stream
  delegate_to: localhost
  become: no
  register: rpm_download
  when: github_token is defined and github_token != ''

- name: Alternativer Download mit GitHub API (für private Repositories)
  ansible.builtin.uri:
    url: "https://api.github.com/repos/{{ github_repo }}/contents/{{ github_rpm_path }}"
    method: GET
    headers:
      Authorization: "token {{ github_token }}"
      Accept: application/vnd.github.v3.raw
    dest: "{{ rpm_download_dir }}/{{ rpm_filename }}"
    creates: "{{ rpm_download_dir }}/{{ rpm_filename }}"
  delegate_to: localhost
  become: no
  when:
    - github_token is defined
    - github_token != ''
    - rpm_download is skipped or rpm_download is failed
  ignore_errors: yes

- name: Überprüfen, ob RPM-Datei existiert
  ansible.builtin.stat:
    path: "{{ rpm_download_dir }}/{{ rpm_filename }}"
  register: rpm_file_stat

- name: Fehler ausgeben, wenn RPM-Datei nicht existiert
  ansible.builtin.fail:
    msg: "RPM-Datei {{ rpm_download_dir }}/{{ rpm_filename }} wurde nicht gefunden!"
  when: not rpm_file_stat.stat.exists

- name: RPM-Datei Berechtigungen setzen
  ansible.builtin.file:
    path: "{{ rpm_download_dir }}/{{ rpm_filename }}"
    owner: "{{ rpm_owner }}"
    group: "{{ rpm_group }}"
    mode: '0644'
  become: yes

- name: RPM-Paket installieren
  ansible.builtin.yum:
    name: "{{ rpm_download_dir }}/{{ rpm_filename }}"
    state: "{{ rpm_state }}"
    disable_gpg_check: yes
  become: yes
  register: rpm_install_result

- name: Installationsergebnis anzeigen
  ansible.builtin.debug:
    msg: "RPM-Paket wurde {{ 'erfolgreich installiert' if rpm_install_result.changed else 'bereits installiert (keine Änderung)' }}"

- name: Installierte Dateien Berechtigungen für apps-User setzen
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ rpm_owner }}"
    group: "{{ rpm_group }}"
    recurse: yes
  become: yes
  loop: "{{ rpm_installed_paths | default([]) }}"
  when: rpm_installed_paths is defined

- name: Hinweis zu manuellen Berechtigungen
  ansible.builtin.debug:
    msg: |
      HINWEIS: Falls spezifische Verzeichnisse für den apps-User berechtigt werden müssen,
      bitte die Variable 'rpm_installed_paths' mit den entsprechenden Pfaden definieren.
      Beispiel:
      rpm_installed_paths:
        - /opt/application
        - /etc/application
  when: rpm_installed_paths is not defined
